__pycache__/
*.pyc
.env
# virtualenvs
streamlitEnv/
soil_env/
.venv/
venv/

# python
__pycache__/
*.pyc

# mac
.DS_Store
# Jupyter Notebook
notebooks/*.ipynb
**/.ipynb_checkpoints/
.DS_Store
fast_api/static/paper/*.pdf